html {
  --s: 55px; /* control the size*/
  --c1: #000000;
  --c2: #141414;
  
  --_g: 
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
  background:
    radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
    radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
    var(--c1);
  background-size: var(--s) var(--s);
  font: optional;
  font-family: 'Courier New', Courier, monospace;
  color:aquamarine;
}
.container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 5px;
}
.container > div {
  background-color: transparent;
  border: 1px solid whitesmoke;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000000a0;
}